* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: weight;
}

body {
  display: flex;
  margin: 0 auto;
  padding: 25px;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

/* загадка 1 */

.st1 > p {
  margin: 10px 0 50px 0;
}

.sc_st1 > div {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sc_st1 > div > p  {
  width: 100%;
}

.sc_st1 > div > input  {
  width: 50px;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.sc_st1 > button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-top: 10px;
}

/* загадка 2 */

.st2 > p {
  margin: 10px 0 50px 0;
}

.sc_st2 {
  display: flex;
  width: 100%;
}

.sc_st2 > button {
  min-width: 100px;
  max-width: 1000px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-top: 10px;
}

/* Загадка 3 */

.st3 > p {
  margin: 10px 0 50px 0;
}

.sc_st3 > div {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sc_st3 > div > p  {
  width: 100%;
}

.sc_st3 > div > input  {
  width: 250px;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.sc_st3 > button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-top: 10px;
}


/* загадка 4 */

.st4 > p {
  margin: 10px 0 50px 0;
}

.sc_st4 {
  display: flex;
  width: 100%;
}

.sc_st4 > div > button {
  min-width: 100px;
  max-width: 1000px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-top: 10px;
}

/* загадка 5 */

.st5 > p {
  margin: 10px 0 50px 0;
}

.sc_st5 > div {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sc_st5 > div > p  {
  width: 100%;
}

.sc_st5 > div > input  {
  width: 50px;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.sc_st5 > button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-top: 10px;
}

/* загадка 6 */

.st6 > p {
  margin: 10px 0 50px 0;
}

.sc_st6 {
  display: flex;
  width: 100%;
}

.sc_st6 > div {
  min-width: 100px;
  max-width: 1000px;
  width: 100%;
  height: 35px;
}

.sc_st6 > div > button {
  min-width: 100px;
  max-width: 1000px;
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-top: 10px;
}


/* загадка 7 */

.st7 > p {
  margin: 10px 0 50px 0;
}

.sc_st7 > div {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sc_st7 > div > p  {
  width: 100%;
}

.sc_st7 > div > input  {
  width: 50px;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.sc_st7 > button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-top: 10px;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper > .card_st7 {
  width: 150px;
  height: auto;
  text-align: center;
  justify-content: center;
  padding: 3px;
  margin: 2px;
  position: relative;
  z-index: 1;
  background-color: rgb(202, 202, 202);
  border-radius: 8px;
  display: inline-block;
  overflow: hidden;
}

.wrapper > .card_st7 > img {
  width: 90%;
  height: auto;
  margin-top: 8px;

  transform: scale(1.5);
  position: relative;
  z-index: 1;
}

.wrapper > .card_st7 > p {
  position: relative;
  z-index: 2;
  background-color: #fff;
  border-radius: 5px;
}


/* загадка 8 */

.st8 > p {
  margin: 10px 0 50px 0;
}

.sc_st8 > div {
  margin: 20px;
  display: block;
  align-items: center;
  justify-content: center;
}

.sc_st8 > div > p  {
  width: 100%;
}

.sc_st8 > div > input  {
  width: 50px;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
}

.sc_st8 > button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-top: 10px;
}

/* загадка 9 */

.st9 > p {
  margin: 10px 0 50px 0;
}

.sc_st9 > div {
  margin: 20px;
  display: block;
  align-items: center;
  justify-content: center;
}

.sc_st9 > div > p  {
  width: 100%;
}

.sc_st9 > div > input  {
  width: 200px;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  margin-top: 20px;
  border-radius: 5px;
}

.sc_st9 > button {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  margin-top: 10px;
}

#inSt12 {
  width: 200px;
}

.stih {
  font-size: 18px;
}